{
  // http://eslint.org/docs/rules/

  "env": {
    "browser": 1,     // browser global variables.
    "es6": 1,         // ES6 activate!
    "node": 1,        // Node.js global variables and Node.js-specific rules.
  },

  "rules": {
    "no-unused-vars": 0
  }
}
